<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Recipes</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<table class="table table-striped">
  	
  	  	<tr>
			<th>Name</th>
		   	<th>Main Ingredient </th>
			<th>Cooking Time</th>
			<th>Category</th>
		   	
		</tr>  
  		<tr th:each = "recipe: ${recipes}">
    		<td th:text="${recipe.title}"></td>
    		<td	th:text="${recipe.mainIngredient}"></td> 
    		<td th:text=" ${recipe.cookingTime}"></td>
    		<td th:text="${recipe.category.title}"></td>
    		
    		
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${recipe.id})}" class="btn btn-danger" >Delete</a></td> 
    		
    	</tr>
    		
  	</table>
  			<a href="/add" class="btn btn-success" type="submit" >Add recipe</a>
  			
</body>
</html>  
    